extend layout

block content
    div(data-role="page", id="page_login")
        div(data-theme="b", data-role="header", data-position="fixed")
            h3 Login
        div(data-role="content")
            
            aside.messages
            
            form(action="/account/login", method="POST")
                div(data-role="fieldcontain")
                    label(for="account") Account Name
                    input(name="account", id="account", type="text", placeholder="Owner Name", autofocus, required)
                    input(name="location", type="hidden", value="#{location}")

                div.pattern-lock

        +footer("login", "/main", "false")


block styles
    link(href="/style/jquery.mobile.flatui.min.css", rel="stylesheet", type="text/css")
    link(href="/style/site.css", rel="stylesheet", type="text/css")
    link(href="/style/pattern-input.css", rel="stylesheet", type="text/css")

block scripts
    script(src="/script/vendor/jquery-1.12.0.min.js")
    script(src="/script/vendor/jquery.mobile-1.4.5.min.js")
    script(src="/script/vendor/jquery-pattern-input.js")
    script(src="/script/client.js")

block pageScript
    script.
        pig.init("login");
