extend layout

block styles
    link(href="/style/normalize.css", rel="stylesheet", type="text/css")
    link(href="/style/base.css", rel="stylesheet", type="text/css")
    link(href="/style/pattern-input.css", rel="stylesheet", type="text/css")

block scripts
    script(src="/script/jquery-1.10.2.min.js")
    script(src="/script/jquery-pattern-input.js")
    script(src="/script/client.js")

block pageScript
    script.
        pig.init("login");

block content
    section.login
        form(action="/account/login", method="POST")
            div.group
                label(for="account") Account Name
                input(name="account", id="account", type="text", placeholder="Owner Name", autofocus, required)

            div.pattern-lock
