
h4 {
    margin: 0.2em;
}

.ui-header .ui-title {
    position: relative;
    margin: 0.6em 5% 0.8em;
}
.ui-header .ui-title .balance {
    position: absolute;
    right: 0;
    top: 0.5em;
    background: #afd4cd;
    padding: 0.2em 0.5em;
    border-radius: 4px;
}

.ui-content h3 { text-align: center; margin-top: 0; }
.positive { color: #090; }
.negative { color: #900; }

.pattern-lock { margin: 0 auto; }

.transList .category {
    background-color: #ddd;
    color: #444;
    padding: 4px 10px;
    margin: 0;
    border-radius: 7px;
    text-shadow: 1px 1px 1px #999;
    display: inline-block;
    font-size: 0.8em;
}

.ui-field-contain, fieldset.ui-field-contain {
    padding: 0.5em 0;
}
.inlineField label.ui-input-text, .inlineField label.ui-select {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.3em;
    width: 25%;
}
.inlineField div.ui-input-text, .inlineField div.ui-select {
    display: inline-block;
    margin-left: 1em;
    width: 60%;
    vertical-align: middle;
}
.inlineField.dateRange div.ui-input-text {
    width: 25%;
    margin-right: 0.5em;
}

.transactionDetail .deleteTrans {
    float: right;
}

.messages p {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin: 0.2em 0;
    padding: 0.4em 1em;
}

.messages .success { color: #090; }
.messages .error { color: #900; }
.messages .info { color: #009; }

.dialogContent {
    text-align: center;
}

#page_report form {
    margin-top: 50px;
}

.totals {
    text-align: center;
}

.reportChart {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.reportChart .loading {
    background-color: #000000;
    border-radius: 20px;
    height: 20%;
    padding: 45%;
    text-align: center;
}